@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "IBM Plex Mono", monospace;
}

body {
  background: white;
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background: #10142c;
  right: 0;
  bottom: -10px;
  color: #10142c;
}

.icon {
  cursor: pointer;
}

.card {
  background: #000;
}

.navBar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.1);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  width: 100%;
}
